requests[socks] --break-system-packages
dnspython --break-system-packages
stem --break-system-packages
pysocks --break-system-packages
python-whois --break-system-packages
beautifulsoup4 --break-system-packages